.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
  }
  
  .login-form-1{
    padding: 9%;
    background: rgb(18, 80, 97, 0.92);
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
  }
  .login-form-1 h3{
    text-align: center;
    margin-bottom:12%;
    color:#fff;
  }
  .login-form-2{
    padding: 9%;
    background: chartreuse;
    opacity: 0.92;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
  }
  .login-form-2 h3{
    text-align: center;
    margin-bottom:12%;
    color: #fff;
  }
  .btnSubmit{
    font-weight: 600;
    width: 50%;
    color: white;
    background-color: rgb(255, 63, 5, 0.6);
    border: none;
    border-radius: 1.5rem;
    padding:2%;
  }
  
  .btnSubmit:hover {
    font-weight: 600;
    width: 50%;
    color: white;
    background-color: rgb(255, 63, 5);
    border: none;
    border-radius: 1.5rem;
    padding:2%;
  }