/* body {
    background: radial-gradient(#e5e5e5, #ffff, #e5e5e5);
} */

.card-body-column {
    text-align: left;
}

#restname {
    align-self: flex-start;
    margin-left: -6rem;
}

#restrating {
    align-self: flex-end;
    margin-right: 0;
}

.container-fluid .row {
    padding-top: 6rem;
}

.container-fluid .column {
    padding-top: 1rem;
}

.overflow {
    overflow: visible;
}

#profileimg {
    height: 200px;
    width: 200px;
} 

.SplitPane {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: left;
    align-items: flex-start;
}

.SplitPane-left {
    float: left;
    order: 1;
    align-self: flex-start;
    margin-left: 6rem;
    width: 20%;
}

.SplitPane-right {
    float: left;
    order: 2;
    align-self: flex-end;
    padding-left: 6rem;
    width: 80%;
}